################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Simulateur
/Simulateur/Debug
/Debug
/Simulateur/libs/glfw/build/.vs
/Simulateur/libs/glfw/build/CMakeFiles
/Simulateur/libs/glfw/build
/Simulateur/x64/Debug
/Simulateur/x64/Release
